.login {
  min-height: 1200px;
  height: 100vh;
  position: relative;
  padding: 150px 0;

  .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
    z-index: -1;
  }
}

@media screen and (max-width: 950px) {
  .login {
    min-height: auto;
    height: 900px;
    position: relative;
    padding: 100px 0;
    background-color: black;

    .bg {
      display: none;
    }
  }
}
