.header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  color: white;
  z-index: 2;
  transition: 0.5s ease;

  &.scrolled {
    background-color: black;
  }

  .left {
    display: flex;
    align-items: center;
    .logo {
      height: 36px;
      width: 134px;
      margin-right: 20px;
    }
    span {
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 20px;
    }

    .icon {
      cursor: pointer;
    }

    .profile-img {
      width: 25px;
      height: 25px;
    }

    .more {
      margin-left: 5px;
      position: relative;
      cursor: pointer;
      .options {
        display: none;
      }
      .options.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        span {
          padding: 5px 0;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 50px;
    padding: 0 30px;

    .left {
      .logo {
        height: 40px;
        width: 100px;
        margin-right: 10px;
      }
      span {
        margin: 0 5px;
      }
    }

    .right {
      & > * {
        margin-left: 10px;
      }

      .profile-img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 0 20px;

    .left {
      .logo {
        height: 30px;
        width: 80px;
        margin-right: 5px;
      }
    }

    .right {
      & > * {
        margin-left: 5px;
      }

      .profile-img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
