.signup {
  min-height: 1200px;
  height: 100vh;
  position: relative;
  padding: 150px 0;

  .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
    z-index: -1;
  }

  .header {
    height: 100px;
    width: 100%;
    padding: 0 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    .logo {
      height: 60px;
      width: 180px;
    }
  }

  form {
    height: 600px;
    width: 450px;
    margin: 0 auto;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.7);
    .title {
      padding: 10px 0;
      font-size: 35px;
      font-weight: 700;
    }

    .input-container {
      height: 55px;
      margin: 10px 0;
      padding: 5px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 5px;
      background-color: rgb(34, 34, 34);
      color: rgb(131, 131, 131);
      cursor: pointer;

      &.blur {
        .placeholder {
          font-size: 18px;
          cursor: pointer;
        }
        input {
          display: none;
        }
      }
      &.focus {
        .placeholder {
          margin-bottom: 3px;
          font-size: 13px;
        }
        input {
          border: none;
          outline: none;
          font-size: 17px;
          background-color: rgb(34, 34, 34);
          color: white;
        }
      }
    }

    .submit-btn {
      width: 100%;
      margin-top: 30px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: red;
      color: white;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }

    .signin {
      margin-top: 30px;
      font-size: 18px;
      color: rgb(131, 131, 131);
      a {
        color: white;
        cursor: pointer;
      }
    }
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 40px 5%;
    font-size: 14px;
    color: white;
    background: black;
    opacity: 0.6;

    .footer-container {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .links-container {
        padding: 30px 0;
        position: relative;
        .link {
          width: 25%;
          padding: 10px 5px 10px 0;
          display: inline-block;
        }
      }

      .language {
        width: min-content;
        padding: 15px 30px;
        border: 1px solid;
        border-radius: 2px;
        color: white;
        background-color: black;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .signup {
    min-height: auto;
    height: 900px;
    position: relative;
    padding: 100px 0;
    background-color: black;

    .bg {
      display: none;
    }

    .header {
      padding: 0 30px;
    }

    form {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 0 30px;
    }

    .footer {
      border-top: 5px solid rgb(46, 46, 46);

      .footer-container {
        .links-container {
          .link {
            width: 33%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .singup {
    .footer {
      .footer-container {
        .links-container {
          .link {
            width: 50%;
          }
        }
      }
    }
  }
}
